{% extends "base.html" %} {% load static %} {% block body %}

<section class="md:home flex flex-row-reverse md:flex-row flex-col-reverse justify-center items-center bg-white md:gap-24" id="home">
  {% comment %} <div class="max-width">
    <div class="home-content">
      <div class="text-1" style="color: #352f44">Hello, my name is</div>
      <div class="text-2">{{personalDetails.name}}</div>
      <div class="text-3">And I'm a <span class="typing"></span></div>
      <a href="https://calendly.com/sarthak_20/30min">Hire me</a>
    </div>
  </div> {% endcomment %}
  <div class=" mt-10 text-4xl" style="height:auto;">
    <h1 class="text-gray-600 fnt md:text-6xl text-4xl" style="font-family:Quattrocento">Hello, my name is <br> <span class="text-black font-bold">{{personalDetails.name}}</span></h1>
    <div class="md:text-3xl text-2xl mt-6" style="font-family:Quattrocento">And I'm <span class="typing font-bold"></span></div>
    {% comment %} <center> {% endcomment %}
      <a href="https://calendly.com/sarthak_20/30min">
        <button class="mt-5 border p-2 border-gray-300 bg-black text-white text-xl rounded-md w-40 fnt ">Hire me</button>
      </a>
    {% comment %} </center> {% endcomment %}
  </div>
  <img src={% static '/Assets/client_img/profile_img-removebg.png' %} alt=""class="md:w-1/3 h-auto w-52" style="" />
</section>

<!-- about section start -->
<section class="about bg-white" id="about">
  <div class="max-width">
    <h2 class="text-center p-3 text-4xl tit" style="font-family:Quattrocento;">About Me</h2>
    <hr class="border border-gray-600 w-60 mx-auto">
    <div class="about-content mt-10">
      <div class="column left">
        <img src={% static '/Assets/client_img/Sathak_whatsapp.jpeg' %} alt="" />
      </div>
      <div class="column right">
        <div class="text">
          I'm {{personalDetails.name}} and I'm <span class="typing-2"></span>
        </div>
        <p>{{personalDetails.about}}</p>
        <a href={% static '/Assets/resume.pdf' %} download>Download CV</a>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
